.filter-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-weight: 500;
}

.filter-input {
  width: 100%;
  max-width: 300px;
  padding: 0.7rem;
  background-color: transparent;
  border-radius: var(--main-border-radius);
  box-shadow: var(--second-color-shadow);
  color: var(--third-color);
  transition: border;
  border: none;
}

@media screen and (min-width: 500px) {
  .filter-input {
    width: unset;
  }
}

.filter-input:focus {
  outline: none;
}
